:root {
  --noto-sans-jp: 'Noto Sans JP', sans-serif;
  --cl-hover: #333333;
  --cl-ph: #828282;
  --cl-focus: #2962ff;
  --cl-error: #d32f2f;
}

.input-control {
  display: flex;
  flex-direction: column;
}

.label,
.helperText {
  margin: 0.3rem 0;
  font-family: var(--noto-sans-jp);
  color: var(--cl-hover);
}

.helperText {
  font-size: 0.625rem;
  color: var(--cl-ph);
}

.input-wrap {
  position: relative;
  width: max-content;
  height: max-content;
}
.input {
  font-family: var(--noto-sans-jp);
  color: var(--cl-hover);
  border: 1px solid var(--cl-ph);
  border-radius: 8px;
}
.input:disabled {
  background: #f2f2f2;
  border: 1px solid #e0e0e0;
}
.input:disabled:hover {
  border: 1px solid #e0e0e0;
}
.input:hover,
.input:hover.error {
  border: 1.5px solid var(--cl-hover);
}
.input:focus {
  outline: none !important;
  border: 1.5px solid var(--cl-focus);
}

.input.error {
  border: 1px solid var(--cl-error);
}
.input:focus.error {
  border: 1.5px solid var(--cl-error);
}

.icon {
}

.fullWidth {
  width: 100% !important;
}
